<header class="navigation">
  <div class="navigation-container ">
    <div class="cakeslogo">
      <a href="/">
        <img src="../img/logo_dqt.png" alt="Restaurant Parts">
      </a>
    </div>

    <div class="navDiv">
      <nav id="dq_nav" role="navigation" class="main-navigation navigation-list">
        <a href="#dq_nav" title="Show navigation">Show navigation</a> <a href="#" title="Hide navigation">Hide
          navigation</a>
        <ul class="clearfix">
          <li>
            <a tabindex="0" href="/">
              <div class="nav-label">HOME</div>
            </a>
          </li>
          <li>
            <a tabindex="0" href="/categories">
              <div class="nav-label">CATEGORIES</div>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</header>