{{#> master}}
{{#*inline "content"}}


<div class="banner-v2">
    <div class="banner-inner-v2">
        <div id="sleekslider" class="sleekslider">
            <!-- Slides1 -->
            <div class="slide active bg-1">
                <div class="tg-display-table">
                    <div class="tg-display-table-cell">
                        <div class="slide-content-v2 pull-right">
                            <h3><img src="../images/banner/caption.png" alt="caption"></h3>
                            <strong>Restaurant<sup></sup> PARTS</strong>
                            <div class="button right white" ng-click="next()">
                                <span class="end"></span>
                                <span class="middle">
                                    <a class="sm-btn" href="/categories">View categories</a>
                                </span>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slides3 -->
            <div class="slide bg-3">
                <div class="tg-display-table">
                    <div class="tg-display-table-cell">
                        <div class="slide-content-v2 pull-right">
                            <h3><img src="../images/banner/caption.png" alt="caption"></h3>
                            <strong><sup></sup> EQUIPMENT & PARTS</strong>
                            <div class="button right white" ng-click="next()">
                                <span class="end"></span>
                                <span class="middle">
                                    <a class="sm-btn" href="/categories">View categories</a>
                                </span>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slides -->
            <!-- Slides4 -->
            <div class="slide bg-4">
                <div class="tg-display-table">
                    <div class="tg-display-table-cell">
                        <div class="slide-content-v2 pull-right">
                            <h3><img src="../images/banner/caption.png" alt="caption"></h3>
                            <strong><sup></sup> RESTAURANT EQUIPMENT</strong>
                            <div class="button right white" ng-click="next()">
                                <span class="end"></span>
                                <span class="middle">
                                    <a class="sm-btn" href="/categories">View categories</a>
                                </span>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slides -->
            <!-- Navigation Arrows with Thumbnails -->
            <nav class="nav-split">
                <a class="prev" href="">
                    <span class="icon-wrap fa fa-angle-left"></span>
                    <div>
                        <h3>prev</h3>
                        <img class="sliderthumb" src="#" alt="previous thumb">
                    </div>
                </a>
                <a class="next" href="">
                    <span class="icon-wrap fa fa-angle-right"></span>
                    <div>
                        <h3>next</h3>
                        <img class="sliderthumb" src="#" alt="next thumb">
                    </div>
                </a>
            </nav>

        </div>
    </div>
</div>

{{/inline}}
{{/master}}
