{{#> master}}
{{#*inline "content"}}

<div class="col-sm-12  paddingT20 paddingB20" id="resultcontainer">
    <h4>This is the privacy policy for all web sites operated by Restaurant Parts Corp. (<a href="http://www.Restaurantparts.ca/">www.Restaurantparts.ca</a>).</h4>
    <table class="table table-bordered" style="width: 250px;">
        <tbody>
            <tr>
                <td style="background-color: #ffebae; padding:10px;">
                    <strong>Contact Information</strong>
                   <address>
//                       Restaurant Parts Corp.<br />
//                        Attn: Privacy Policy<br />
//                        23 Hoyle Drive<br />
//                        Brampton, ON, L6P 1T5<br />
//                        Canada<br /><br />
                        You can <a href="mailto:info@Restaurantparts.ca">e-mail us</a> or reach us by telephone at
                        289-324-1334.
                    </address>
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Information Collection and Use</h4>
    <p>At <a href="http://Restaurantparts.ca/">Restaurantparts.ca</a>, we value our customers and their privacy. All
        personal information is used to ensure efficient processing of your order. This information is used by our staff
        for contacting and identifying customers and their needs. We will not give, sell, rent, or loan any identifiable
        personal information to any third party, unless we are legally required to do so.</p>
    <p>We reserve the right to disclose your personally identifiable information as required by law and when we believe
        that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or
        legal process served on our website.</p>

    <h4>Order</h4>
    <p>Most of the information collected in the order process will be used to process orders. During the order process,
        you will have to provide financial information such as your credit card number and expiration date. This
        information is used for billing purposes and to fulfill your order. If we have trouble processing an order, we
        will use this contact information to get in touch with you. To properly process your credit card information, we
        must share your personal and financial information with the merchant bank for authorization and approval. This
        process is protected by an enhanced security system. See the Security section below for more details on security
        measures and procedures. We do not share your personal and financial information with any third parties, except
        those specified in the Sharing section of this policy. We can cancel orders and refund customers' money because
        of pricing errors (or for any other reason).</p>

    <h4>Registration</h4>
    <p>In order to process your orders placed on this website, you must first complete the contact information form.
        During placing an order, you will be required to provide your contact information, which includes your name,
        e-mail address, telephone number and street address. This information is used to provide you with important <a
            href="http://Restaurantparts.ca/">Restaurantparts.ca</a> services such as automated order status updates via
        e-mail.</p>

    <h4>Newsletter</h4>
    <p>If you wish to subscribe to our newsletter(s), we will use your name and email address to send the newsletter to
        you. Out of respect for your privacy, we provide you a way to unsubscribe.</p>

    <h4>Cookies</h4>
    <p>We customize certain web page content based upon your browser type and other information provided by our cookie.
        If you choose to reject the cookie, you can still browse our store but will be unable to use the shopping cart
        to buy merchandise. The <a href="http://Restaurantparts.ca/">Restaurantparts.ca</a> shopping cart cannot
        function without cookies enabled so that the necessary information to process your order is retained. If you
        disable cookies, <a href="http://Restaurantparts.ca/">Restaurantparts.ca</a> will be unable to accept your
        online order. We will not share any personally identifiable information provided by this cookie with any third
        party. We will, however, link data stored in cookies to the personally identifiable information you submitted
        while on our site. This allows us to personalize your shopping experience and discern user preferences to evoke
        subconscious feelings of familiarity and assurance.</p>

    <h4>Children</h4>
    <p><a href="http://Restaurantparts.ca/">Restaurantparts.ca</a> does not sell products to persons under the age of
        18. If you are under the age of 18, you are required to seek the approval of your parent or guardian to purchase
        products from this site.</p>

    <h4>Links</h4>
    <p>This website contains links to other sites. Please be aware that <a
            href="http://Restaurantparts.ca/">Restaurantparts.ca</a> is not responsible for the privacy practices of
        such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements
        of each and every website that collects personally identifiable information. This privacy statement applies only
        to information collected by this website.</p>

    <h4>Security</h4>
    <p>We employ the latest 128-bit encryption technology in all areas of the site which require you to provide your
        personal or account information, including online ordering, and order status. Your name, your personal
        information and especially your credit card number are safely stored in our proprietary systems behind our
        firewall. Once you type your personal information, it is sent instantly, encrypted, directly to our order
        processing system which is on a server separate from our internet server. To make sure you have the latest
        security features on your browser, you may want to download the most recent version of your favorite browser,
        which should have full SSL support.</p>

    <h4>Special Offers</h4>
    <p>Our special offers are sent only to customers who grant <a
            href="http://Restaurantparts.ca/">Restaurantparts.ca</a> permission to send them such information.</p>

    <h4>Correction/Updating/Reviewing Personal Information</h4>
    <p>Customers may change or review their stored account information such as street address or e-mail address through
        our website by visiting our "My Account" section. You must have your username and password in order to access
        your account. In the event you forget both your username and password, please contact our customer service
        department for assistance.</p>

    <h4>Choice/Opt-out</h4>
    <p>Our website gives you the opportunity to opt-out of receiving marketing communications from us. If you no longer
        wish to receive communications from us you may opt-out by calling 289-324-1334 or simply send us an email at
        info@restaurantparts.ca with your email address.</p>

    <h4>Notification of Changes</h4>
    <p>If we decide to change our Privacy Policy, we will post those changes to this privacy statement, the homepage,
        and other places we deem appropriate so that you are aware of what information we collect, how we use it, and
        under what circumstances, if any, we disclose it. We reserve the right to modify this privacy statement at any
        time, so please review it frequently. If we make material changes to this policy, we will notify you here, by
        email, or by means of a notice on our homepage.</p>
</div>

{{/inline}}
{{/master}}
